<md-toolbar>
    <div class="md-toolbar-tools" layout="row">                         
            <md-button data-ng-href="/" type="button" ng-click="toggleSidenav()"> 
                <md-icon md-font-icon="fa-code" class="fa"></md-icon> Main            
            </md-button>
            <md-button data-ng-href="/models"  type="button" ng-click="toggleSidenav()"> 
                    <md-icon md-font-icon="fa-bars" class="fa"></md-icon> Models            
            </md-button>
    </div>
</md-toolbar>