<md-toolbar class="md-toolbar-tools" layout="row">
            <md-button data-ng-href="/" type="button" ng-click="toggleSidenav()"> 
                <md-icon md-font-icon="fa-code" class="fa"></md-icon> Main            
            </md-button>
            <md-button data-ng-href="/models"  type="button" ng-click="toggleSidenav()"> 
                    <md-icon md-font-icon="fa-bars" class="fa"></md-icon> Models            
            </md-button>
            <md-button data-ng-href="/denoised"  type="button" ng-click="toggleSidenav()"> 
                <md-icon md-font-icon="fa-magic" class="fa"></md-icon> Denoised            
            </md-button>
            <md-button data-ng-href="/papers"  type="button" > 
                <md-icon md-font-icon="fa-book" class="fa"></md-icon> papers            
            </md-button>
            <md-button data-ng-href="/overview"  type="button" > 
                <md-icon md-font-icon="fa-book" class="fa"></md-icon> Overview            
            </md-button>
            <md-button data-ng-href="/latest"  type="button" > 
                <md-icon md-font-icon="fa-image" class="fa"></md-icon> Latest results            
            </md-button>
            <md-button data-ng-href="/inferred"  type="button" > 
                <md-icon md-font-icon="fa-image" class="fa"></md-icon> Models Comparison         
            </md-button>
            <md-button data-ng-href="/architectures"  type="button" > 
                <md-icon md-font-icon="fa-steam-square" class="fa"></md-icon> Architectures         
            </md-button>
            <md-button data-ng-href="/copy"  type="button" > 
                <md-icon md-font-icon="fa-steam-square" class="fa"></md-icon> copy         
            </md-button>
            <span flex></span>
            <md-button data-ng-href="https://github.com/juancho618/Art-CNN"  type="button"  target="_blank"> 
                <md-icon md-font-icon="fa-github" class="fa fa-2x"></md-icon>            
            </md-button>
</md-toolbar>