
<!DOCTYPE html>
<html>
    <head>
            <link href="/angular-material/angular-material.css" rel="stylesheet"/>
            <linkh ref="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous"/>
            <link rel="stylesheet"
            href="/scripts/highlight.js/styles/atom-one-dark.css">            
            <style>
                .hover01 {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                .hover01:hover {
                    -webkit-transform: scale(2);
                    transform: scale(2);
                }
            </style>
    </head>
<body ng-app="reportApp" ng-controller="reportController as report">

    <h1>First Training Data Used</h1>   
    
    <div layout="row">
            <md-button class="md-primary md-raised"  type="button" ng-click="report.imgType = 'VIS'; report.activateVIS = true">VIS</md-button>
            <md-button class="md-primary md-raised" type="button" ng-click="report.imgType ='IRR'; report.activateIRR = true">IRR</md-button>
            <md-button class="md-primary md-raised" type="button" ng-click="report.imgType ='noPooling'; report.activateNP = true">without pooling x1</md-button>
            <md-button class="md-primary md-raised" type="button" ng-click="report.imgType ='noPoolingx3'; report.activateNPx3 = true">without pooling x3</md-button>
    </div>
    <div layout="column">
            <div style="min-width:100%" ng-if="report.activateVIS" ng-show="report.imgType == 'VIS'">
                    <div ng-repeat="x in report.h_list" style="margin-bottom: -4px;" layout="row">
                        <div ng-repeat="y in report.w_list">    
                                <img width="28" height="28" class="hover01"  ng-src="/imageVIS?num={{(51*x)+y}}" ng-click="report.showDialog(this, 20)">
                        </div>
                    </div>   
                </div>
                <div style="min-width:100%" ng-if="report.activateIRR" ng-show="report.imgType == 'IRR'" layout="column">
                        <div ng-repeat="x in report.h_list" layout="row" style="margin-bottom: -4px;">
                            <div ng-repeat="y in report.w_list" >    
                                    <img width="28" height="28" class="hover01" ng-src="/imageIRR?num={{(51*x)+y}}">
                            </div>
                        </div>   
                </div>
                
                <div style="min-width:100%" ng-if="report.activateNP" ng-show="report.imgType == 'noPooling'"  layout="column">
                        <div ng-repeat="x in report.h_list" layout="row" style="margin-bottom: -4px;">
                            <div ng-repeat="y in report.w_list" >    
                                    <img width="28" height="28" class="hover01" ng-src="/imageNoPooling?num={{(51*x)+y}}">
                            </div>
                        </div>   
                </div>
                <div style="min-width:100%" ng-if="report.activateNPx3" ng-show="report.imgType == 'noPoolingx3'"  layout="column">
                        <div ng-repeat="x in report.h_list" layout="row" style="margin-bottom: -4px;">
                            <div ng-repeat="y in report.w_list">    
                                    <img width="28" height="28" class="hover01" ng-src="/imageNoPoolingx3?num={{(51*x)+y}}">
                            </div>
                        </div>   
                </div>
    </div>
    

    <!-- <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'></script> -->
    <script src="/scripts/angular/angular.js"></script>
    <script type='text/javascript' src='/scripts/angular-animate/angular-animate.js'></script>
    <script type='text/javascript' src='/scripts/angular-aria/angular-aria.js'></script>   
    <script type='text/javascript' src="/angular-material/angular-material.js"></script>
    <script type='text/javascript' src="/public/app/app.js"></script>
    <script type='text/javascript' src="/public/app/controllers/reportController.js"></script>
    <script type='text/javascript' src="/public/app/controllers/reportController.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</body>
</html>