
<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>      
    </head>
    <body ng-app="reportApp" layout="column">
        <% include ./partials/nav %>
        <div layout="column" flex>
                <img layout="column" flex src="/public/img/overview.svg"/>
        </div>
        
        <% include ./partials/scripts %>
    </body>
</html>