<style>
    label {
        margin-bottom: 30px;
        font-size: bold;
    }
</style>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="tab in vm.tabs" label="{{tab.label}}">
        <md-content class="md-padding">
            <div layout="row" layout-wrap>
                <md-card flex="45" ng-repeat="model in tab.modelsList">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{model.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <!-- layout="row" layout-align="space-between" -->
                        <div class="container" layout="column" layout-xs="column" layout-wrap layout-align="center">
                            <div class="md-media-xl card-media">
                                <label>Model</label>
                                <img width="100%" ng-src="{{model.modelImg}}" ng-click="vm.openImage(model.modelImg)" ng-if="model.modelImg !='N/A'"/>
                            </div>
                            <div layout="row" layout-margin>
                                <div class="md-media-xl card-media" layout="column">
                                    <label>Image</label>
                                    <img width="90%" ng-src="{{model.imageName}}" ng-click="vm.openImage(model.imageName)" />
                                </div>
                                <div class="md-media-xl card-media" layout="column">
                                    <label>Histogram</label>
                                    <img width="90%" ng-src="{{model.histogram}}   " ng-click="vm.openImage(model.histogram)" />
                                </div>
                            </div>
                            <div layout="row" layout-margin>
                                <div class="md-media-xl card-media" layout="column">
                                    <label>Training Result</label>
                                    <img width="100%" ng-src="{{model.trainingResult}}" ng-click="vm.openImage(model.trainingResult)" ng-if="model.modelImg !='N/A'"
                                    />
                                    <h4 ng-if="model.modelImg =='N/A'">N/A</h4>
                                </div>
                                <div class="md-media-xl card-media" layout="column">
                                    <label>Test Average Loss</label>
                                    <img width="100%" ng-src="{{model.testResult}}" ng-click="vm.openImage(model.testResult)" ng-if="model.modelImg !='N/A'"
                                    />
                                </div>
                            </div>
                            <!-- <div layout="row" layout-margin >
                                <div class="md-media-xl card-media"  layout="column">
                                    <label>Test Average Loss</label>
                                    <img width="100%" ng-src="{{model.testResult}}" ng-click="vm.openImage(model.testResult)" ng-if="model.modelImg !='N/A'"/>
                                </div>


                            </div> -->
                    </md-card-content>
                </md-card>
                </div>
        </md-content>
    </md-tab>
</md-tabs>